
#hero_section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center; 

  #valkommen {
    margin-left: 64px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: Inter-Regular;
    font-size: 1.25rem;
    width: Min(40%, 600px);

    span {
      font-family: Inter-Medium;
      font-size: 1.5rem;
    }
  }

  #hero_image{
    position: absolute;
    z-index: -1;
    width: 100%; 
  }

  #filter{
    position: absolute;
    z-index: -1;
    width: 100%;
  }

  nav {
    margin-left: 64px;
    margin-top: 32px;
    display: flex;
    align-items: center;
    gap: 24px;

    > :nth-child(1) {
      font-family: Inter-Medium;
      font-size: 1.25rem;
      margin-right: 8px;
      border-radius: 4px;
      padding: 12px 36px;
      background-color: #d84797;
      display: flex;
      align-items: center;
      gap: 12px;
      color: white;
    }

    #instagram, #discord {
      display: flex;
      justify-content: center;
      padding: 12px;
      height: 28px;
      width: 28px;
      border-radius: 16px;
      transition: background 0.1s;
    }

    #instagram{
      height: 32px;
      padding: 10px ;
    }

    #instagram:hover{
      background: #d62976;
    }

    #discord:hover{
      background: #5865F2;
    }
  }

  > span{
    position: relative;
    left: 64px;
    width: fit-content;
    top: 12px;
    font-family: Inter-Regular;

    
  }
}

#kommande_event{
  margin-left: 64px;
  margin-right: 64px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "title title title"
  "poster text calender";
  gap: 16px;

  & :first-child{
    grid-area: title;
    font-family: Inter-Medium;
    font-size: 1.5rem;
  }

  #poster{
    grid-area: poster;
    height: 360px;
    border-radius: 8px;
    margin-left: -8px;
  }

  #poster_context{
    grid-area: text;
    font-family: Inter-Regular;
    font-size: 1.25rem;
  }

  #calender{
    grid-area: calender;
    height: 360px;
  }
}