* {
  margin: 0;
}

:root {
  --background-colour: hsl(0, 0%, 10%);
}

/*Fonts*/
@font-face {
  font-family: Inter-SemiBold;
  src: url(fonts/static/Inter_18pt-SemiBold.ttf);
}

@font-face {
  font-family: Inter-Regular;
  src: url(fonts/static/Inter_18pt-Regular.ttf);
}

@font-face {
  font-family: Inter-Medium;
  src: url(fonts/static/Inter_18pt-Medium.ttf);
}

button {
  padding: 0;
  border: none;
  background: none;
}

a {
  cursor: pointer;
  user-select: none;
}

body {
  color: hsl(0, 0%, 90%);
  background: var(--background-colour);
}

/*Header*/
header {
  height: 48px;
  width: 100%;
  background: var(--background-colour);
  box-shadow: 0px 4px 12px hsl(0, 0%, 8%);
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;

  font-family: Inter-Regular;
  font-size: 1.25rem;
}

#title {
  display: flex;
  gap: 4px;
  align-items: center;
  pointer-events: none;
  font-family: Inter-Medium;
  font-weight: bold;
  font-size: 2.5rem;

  img {
    height: 40px;
  }
}

header nav {
  display: flex;
  height: 48px;
  gap: 64px;
  position: absolute;
  left: 64px;

  img {
    height: 20px;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  #active::after {
    content: "";
    width: 100px;
    height: 2px;
    background: #b47aea;
    position: absolute;
    bottom: 0px;
    border-radius: 10px 10px 0px 0px;
    transition: height 180ms, border-radius 0.1s;
  }

  a:hover#active::after {
    height: 4px;
  }

  a:active#active::after {
    height: 6px;
  }
}

#extra {
  position: absolute;
  right: 64px;
  display: flex;
  gap: 40px; /*64px gap - padding*/
  font-weight: bold;

  & :first-child {
    background: hsl(0, 0%, 90%);
    color: black;
    padding: 3px 12px 3px 12px;
    border-radius: 4px;
  }

  & :nth-child(2) {
    background: hsl(0, 0%, 16%);
    padding: 3px 12px 3px 12px;
    border-radius: 4px;
  }
}

/*Main*/
#hero_section {
  margin-left: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center; 

  #valkommen {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: Inter-Regular;
    font-size: 1.5rem;
    width: Min(50%, 600px);

    span {
      font-family: Inter-Medium;
      font-size: 2rem;
    }
  }

  #hero_image {
    position: absolute;
    right: 0px;
    top: 48px;
    max-width: 50%;
  }

  nav {
    margin-top: 32px;
    display: flex;
    align-items: center;
    gap: 28px;

    > :nth-child(1) {
      font-family: Inter-Medium;
      font-size: 1.5rem;
      margin-right: 12px;
      border-radius: 4px;
      padding: 12px 36px 12px 36px;
      background-color: #d84797;
      display: flex;
      align-items: center;
      gap: 12px;

      img {
        height: 16px;       
      }
    }

    img {
      display: flex;
      padding: 8px;
      height: 36px;
    }

    #instagram:active{
      background: #d62976;
      border-radius: 8px;
    }

    #discord:active{
      background: #5865F2;
      border-radius: 8px;
    }
  }
}

#kommande_event{
  margin-left: 64px;

  & :first-child{
    font-family: Inter-Medium;
    font-size: 1.5rem;
  }
}