* {
  margin: 0;
}

button{
  padding: 0;
  border: none;
  background: none;
}

/*Fonts*/
@font-face {
  font-family: Inter-SemiBold;
  src: url(fonts/static/Inter_18pt-SemiBold.ttf);
}

@font-face {
  font-family: Inter-Regular;
  src: url(fonts/static/Inter_18pt-Regular.ttf);
}

@font-face {
  font-family: Inter-Medium;
  src: url(fonts/static/Inter_18pt-Medium.ttf);
}

body{
  display: grid;
}

/*Header*/
header {
  display: flex;
  width: 100%;
  height: 48px;
  color: #f0f0f0;
  background-color: hsl(0, 0%, 0%);
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
}

#title {
  display: flex;
  gap: 0px;
  align-items: center;
  font-family: Inter-SemiBold;
  font-size: 20px;
}

#logo{
  height: 40px;
  width: 48px;
  object-fit: contain;
}

#log {
  height: 100%;
  display: flex;
  position: absolute;
  right: 0px;
}

.login {
  width: 145px;
  height: 100%;
  max-width: 20vw;
  color: #f0f0f0;
  font-size: 20px;
  font-family: Inter-SemiBold;

  display: flex;
  align-items: center;
  justify-content: center;
}

#medlem {
  border: 1px solid #d84797;
  background-color: #d84797;
}

.login::after{
  content: '';
  height: 1.5px;
  position: absolute;
  bottom: 10px;
  background-color: white;
  transition: opacity 100ms, transform 100ms;
  transform: scale(0);
  transform-origin: center;
}

#login::after{
  width: 32%;
}

#medlem::after{
  width: 40%;
}

.login:hover::after,
.login:focus::after{
  transform: scale(1);
}

/*Sidebar*/
nav{
  height: calc(100vh - 48px);
  width: 48px;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 48px;
  z-index: 1;
  background-color: hsl(0, 0%, 0%);
  color: #f0f0f0;
  overflow: hidden;
  transition: width 0.3s;
}

nav:hover{
  width: 240px;
}

nav:hover > a{
  border-top: 1px solid rgb(255, 255, 255, 0.1);
  border-bottom: 1px solid rgb(255, 255, 255, 0.1);
}

nav > a{
  display: flex;
  align-items: center;
  height: 64px;
  width: 100%;
  box-sizing: border-box;
  border-right: grey solid 2px;
  transition: background-color 0.15s;
  transition: border-right 0.1s;
}

nav > a:hover{
  background-color: rgb(255, 255, 255, 0.12);
  border-right: #f0f0f0 solid 2px;
}

.active{
  border-color: white;
}

.page_icon{
  width: 32px;           
  height: 20px;          
  object-fit: contain;
  position: absolute;
  left: 7px;
}

.page_icon_text{
  display: flex;
  opacity: 0;
  margin-left: 24px;
  margin-top: 3px;
  font-family: Inter-Regular;
  transition: opacity 0.3s, margin-left 0.35s;
}

nav:hover .page_icon_text {
  opacity: 1;
  margin-left: 48px;
}

#extra{
  display: grid;
  position: absolute;
  bottom: 0px;
}

#extra button{
  color: white;
  height: 50px;
  width: 400px;
}

#extra img{
  display: flex;
  position: absolute;
  left: 7px;
  width: 24px;
  height: 24px;
  padding: 5px;
  border-radius: 8px;
  transition: background-color 1ms;
}

#extra a{
  height: 50px;
  object-fit: contain;
  text-align: center;
}

#extra a, #extra button{
  display: flex;
  align-items: center;
}

#extra span{
  text-wrap: nowrap;
  font-size: 12px;
}

#instagram{
  filter: brightness(0) saturate(100%) invert(46%) sepia(9%) saturate(7470%) hue-rotate(278deg) brightness(78%) contrast(105%);
}

#instagram:hover{
  filter: none;
  background-color: #cc39a4;
} 

#discord{
  filter: brightness(0) saturate(100%) invert(36%) sepia(75%) saturate(2191%) hue-rotate(222deg) brightness(95%) contrast(100%);
}

#discord:hover{
  filter:none;
  background-color: #5865F2;
}

#view_mode:hover {
  background-color: rgb(255, 255, 255, 0.25);
}

/*Main*/
main{
  color: #f0f0f0;
}

#explanation{
  display: flex;
}

.banner{
  height: 448px;
}

#filter{
  position: absolute;
  width: 100%;
  background-image: linear-gradient(to top, rgb(71, 49, 152, 1), rgb(71, 49, 152, 0.6));
}

#banner_title{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  gap: 16px;
  margin: 0px 0px 36px 48px;
  width: 512px;
  font-size: 24px;
  font-family: Inter-Regular;
}

#banner_title span{
  font-family: Inter-SemiBold;
  font-size: 36px;
}

/*Footer*/
footer {
  display: flex;
  background-color: hsl(0, 0%, 3%);
  margin-left: 48px;
}

.important_text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 30px 0px 30px 50px;
  color: #bababa;
  font-family: Inter-Medium;
  font-size: 14px;
}

#integritetspolicy a {
  text-decoration: underline;
}