#mainBackground {
  width: 100dvw;
  background-color: var(--secondary-background-colour);
}

main {
  max-width: 1280px;
  padding: 36px 0px;
  margin: 0 auto;
  box-sizing: border-box;

  background-color: var(--secondary-background-colour);
  font-family: fontRegular;
  color: var(--secondary-font-colour);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}

.mediaContainer {
  margin: 0 auto;
  max-width: 100%;
  min-width: 326px;
  width: 440px;

  h2 {
    font-size: 1.25rem;
    line-height: 48px;
  }
}

@media (max-width: 1000px) {
  main {
    padding: 32px;
  }
}
