#landingPage {
  color: var(--primary-font-colour);
  max-width: 1376px;
  width: 100dvw;
  padding: 96px 48px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: var(--primary-background-colour);
  display: grid;
  gap: 64px;
  justify-items: center;

  #valkommen {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-family: fontRegular;
    text-align: center;
    font-size: 1.1rem;
    height: fit-content;

    span {
      font-family: fontMedium;
      font-size: 4rem;
    }
  }

  #hero_image {
    min-width: 48%;
    max-width: 100%;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center !important;
    gap: 24px;

    #signup,
    #discord {
      max-height: 56px;
      box-sizing: border-box;
      font-family: fontMedium;
      border-radius: 4px;
      color: var(--primary-font-colour);
      display: flex;
      align-items: center;

      img {
        height: 24px;
      }
    }

    #signup {
      font-size: 1.25rem;
      padding: 16px 36px;
      background-color: #d84797;
      gap: 4px;

      img {
        filter: invert(1);
        position: relative;
        top: 1.4px;
      }
    }

    #discord {
      gap: 8px;
      font-size: 1.2rem;
      padding: 16px 24px;
      background-color: #5865f2;
    }
  }
}

#eventBackground {
  padding: 0px 48px;
  box-sizing: border-box;
  max-width: 100dvw;
  background-color: var(--secondary-background-colour);
}

#events {
  width: 100%;
  max-width: 1280px;
  padding: 52px 0px;
  margin: auto;
  box-sizing: border-box;
  background-color: var(--secondary-background-colour);
  font-family: fontMedium;
  color: var(--secondary-font-colour);
  display: grid;
  column-gap: 32px;
  grid-template-areas: "title title" "list poster";

  > span {
    grid-area: title;
    padding: 0px 12px;
    font-size: 1.6rem;
    font-family: fontSemiBold;
  }

  ul {
    grid-area: list;
    display: grid;
    gap: 16px;
    margin-top: 8px;

    li {
      position: relative;
      padding: 16px;
      border-radius: 8px;
      overflow: hidden;
      transition: background-color 0.3s;
      button {
        img {
          display: none;
          height: 8px;
          position: absolute;
          right: 16px;
          top: calc(50%);
          transition: transform 0.2s;
        }
      }
    }

    li:hover:not(.activeEvent),
    .activeEvent {
      background-color: #dfe0fc;
    }

    .activeEvent img {
      transform: rotateZ(-180deg);
    }
  }

  button {
    position: relative;
    display: grid;
    width: 100%;
    font-size: 1.25rem;
    font-family: fontBold;
    text-align: left;
    transition: background-color 0.3s;

    .eventDate {
      font-size: 1.1rem;
      font-family: fontSemiBold;
    }
  }

  .eventInfo {
    display: grid;
    margin-top: 8px;
    font-family: fontRegular;
    font-size: 1.1rem;

    .obs {
      margin-top: 16px;
      font-size: 0.8rem;
      font-family: fontSemiBold;
    }
  }

  #eventPoster {
    height: 600px;
    grid-area: poster;
  }

  #eventListPoster {
    display: none;
  }
}

@media (max-width: 1100px) {
  #events {
    grid-template-areas: "title" "list";
  }

  #eventPoster {
    display: none;
  }
}

@media (max-width: 1000px) {
  #eventBackground{
    padding: 0px 24px;
  }
  
  #landingPage {
    padding: 28px 24px 64px 24px;
    gap: 32px;

    #valkommen {
      width: 100%;
      font-size: 1rem;

      span {
        font-size: 3rem;
      }
    }
  }

  #events {
    padding: 32px 24px;
  }
}

@media (max-width: 560px) {
  #eventBackground{
    padding: 0px;
  }

  #events {
    ul {
      gap: 8px;
    }

    li {
      padding: 0 !important;
      background-color: transparent !important;
    }

    button {
      position: relative;
      z-index: 1;
      padding: 8px 16px;
      border-radius: 8px;
      background-color: #dfe0fc;

      img {
        display: block !important;
      }
    }

    .eventInfo {
      background-color: #eeeefc;
      margin-top: -8px;
      height: 0px;
      overflow: hidden;
      padding: 4px 16px;
      transition: height 0.5s, padding 0.5s, background-color 0.2s;

      span {
        opacity: 0;
        transition: opacity 0.5s;
      }
    }

    .activeEvent button img {
      transform: none !important;
    }

    .activeEventBttn button img {
      transform: rotateZ(-180deg);
    }

    .activeEventBttn .eventInfo {
      padding: 20px 16px;
      gap: 0px;

      span {
        opacity: 1;
      }
    }

    #eventListPoster {
      margin-top: 24px;
      display: block !important;
      width: 100%;
    }
  }
}

@media (max-width:390px) {
  #events{
    padding: 32px 12px;
  }
}
