#landingPage {
  color: var(--primary-font-colour);
  max-width: 100dvw;
  padding: 96px 64px;
  box-sizing: border-box;
  background-color: var(--primary-background-colour);
  display: grid;
  gap: 64px;
  justify-items: center;

  #valkommen {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-family: Inter-Regular;
    text-align: center;
    font-size: 1.1rem;
    width: 75%;
    height: fit-content;

    span {
      font-family: Inter-Medium;
      font-size: 4rem;
    }
  }

  #hero_image {
    min-width: 48%;
    max-width: 100%;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center !important;
    gap: 24px;

    #signup,
    #discord {
      max-height: 56px;
      box-sizing: border-box;
      font-family: Inter-Medium;
      border-radius: 4px;
      color: var(--primary-font-colour);
      display: flex;
      align-items: center;

      img {
        height: 24px;
      }
    }

    #signup {
      font-size: 1.25rem;
      padding: 16px 36px;
      background-color: #d84797;
      gap: 4px;

      img {
        filter: invert(1);
        position: relative;
        top: 1.4px;
      }
    }

    #discord {
      gap: 8px;
      font-size: 1.2rem;
      padding: 16px 24px;
      background-color: #5865f2;
    }
  }
}

#events {
  background-color: var(--secondary-background-colour);
  padding: 64px;
  font-family: Inter-Medium;
  color: var(--secondary-font-colour);
  display: grid;
  gap: 32px;

  span {
    font-size: 1.6rem;
    font-family: Inter-SemiBold;
  }

  ul {
    display: flex;
    gap: 12px;

    li {
      border: 1px solid hsla(235, 86%, 65%, 0.4);
      padding: 12px;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      width: 50%;
    }
  }

  button {
    width: 100%;
    font-size: 1.25rem;
  }

  .activeEvent {
    background-color: hsla(235, 86%, 65%, 0.2);
  }

  #eventInfo {
    font-size: 1.12rem;
    width: 40%;
  }

  #eventPoster {
    height: 50vh;
  }

  #infoContainer{
    justify-content: center;
    align-items: center;
    display: grid;
    flex-wrap: ;
    grid-template-columns: fit-content fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #landingPage {
    padding: 28px 24px 64px 24px;
    gap: 32px;

    #valkommen {
      width: 100%;
      font-size: 1rem;

      span {
        font-size: 3rem;
      }
    }
  }

  #events {
    padding: 52px 32px;
  }
}
