#heroSectionContainer {
  min-height: calc(564px + 128px);
  background-color: var(--primary-background-colour);
  box-sizing: border-box;
  display: grid;
  gap: 80px;
  justify-items: center;
  padding: 128px 64px;

  #valkommen {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-family: Inter-Regular;
    text-align: center;
    font-size: 1.1rem;
    width: 75%;

    span {
      font-family: Inter-Medium;
      font-size: 4rem;
    }
  }

  #hero_image {
    min-width: 48%;
  }

  #heroSection {
    gap: 48px;
    display: grid;
    justify-items: center;
  }

  nav {
    display: grid;
    grid-template-columns: min-content min-content min-content;
    grid-template-areas: "signup insta discord";
    justify-items: center;
    align-items: center;
    gap: 24px;

    #signup {
      grid-area: signup;
      font-family: Inter-Medium;
      font-size: 1.2rem;
      margin-right: 8px;
      border-radius: 4px;
      padding: 12px 36px;
      background-color: #d84797;
      display: flex;
      text-wrap: nowrap;
      align-items: center;
      gap: 12px;
      color: var(--primary-font-colour);
    }

    #instagram,
    #discord {
      display: flex;
      justify-content: center;
      height: 32px;
      width: 28px;
      border-radius: 14px;
      transition: transform 0.2s;
    }

    #discord {
      grid-area: discord;
    }

    #instagram {
      margin-left: 16px;
      margin-right: 16px;
      grid-area: insta;
      height: 36px;
    }

    #instagram:hover {
      filter: brightness(0) saturate(100%) invert(29%) sepia(27%) saturate(6105%) hue-rotate(313deg) brightness(86%) contrast(95%);
    }

    #discord:hover {
      filter: brightness(0) saturate(100%) invert(38%) sepia(30%) saturate(2803%) hue-rotate(214deg) brightness(97%) contrast(96%);
    }
  }
}

#kommande_event {
  background-color: var(--secondary-background-colour);
  padding: 64px;
  color: var(--secondary-font-colour);
  display: flex;

  #poster_context span {
    font-family: Inter-SemiBold;
    font-size: 1.4rem;
  }

  #poster {
    grid-area: poster;
    min-width: 360px;
    max-width: 30%;
    border-radius: 8px;
    margin-left: -8px;
  }

  #poster_context {
    margin: 0 auto 0 auto;
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    grid-area: context;
    font-family: Inter-Medium;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 1200px) {
  #kommande_event {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  #hero_image {
    width: 100vw !important;
  }

  #poster_context {
    margin: 0 !important;
    width: 88vw !important;
    text-align: left !important;
  }

  #heroSectionContainer {
    min-height: fit-content;
    height: max-content;
    padding: 0px 0px 32px 0px;
    justify-content: start;
    flex-direction: column-reverse;
    gap: 32px;

    #valkommen {
      width: 88vw;
    }

    #signup {
      padding: 12px 48px !important;
    }
  }
}
