* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-background-colour: hsl(0, 0%, 0%);
  --secondary-background-colour: hsl(0, 0%, 100%);
}

/*Fonts*/
@font-face {
  font-family: Inter-SemiBold;
  src: url(/fonts/static/Inter_18pt-SemiBold.ttf);
}

@font-face {
  font-family: Inter-Regular;
  src: url(/fonts/static/Inter_18pt-Regular.ttf);
}

@font-face {
  font-family: Inter-Medium;
  src: url(/fonts/static/Inter_18pt-Medium.ttf);
}

button {
  border: none;
  background: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  color: inherit;
  transition: transform 0.2s;
}

a:hover,
#dropdown:hover > span,
#dropdown:focus-within > span {
  transform: scale(1.1) !important;
}

body {
  color: hsl(0, 0%, 90%);
  background: var(--primary-background-colour);
}

/*Header*/
header {
  grid-area: header;
  height: 48px;
  width: 100%;
  background: inherit;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4px 0px;
  z-index: 1;
  font-family: Inter-Regular;
  font-size: 1rem;
}

#menu {
  display: none !important;
  height: 100%;
  width: 48px;
  align-content: center;
  position: absolute;
  left: 20px; /* 32 - width/2 - imgHeight/2*/
  z-index: 10;

  img {
    height: 20px;
  }
}

#title {
  display: flex;
  gap: 4px;
  align-items: center;
  pointer-events: none;
  font-family: Inter-Medium;
  font-weight: bold;
  font-size: 2rem;

  img {
    height: 36px;
  }
}

header nav {
  display: flex;
  align-items: center;
  height: 48px;
  position: absolute;
  left: 64px;

  img {
    height: 20px;
  }

  > ul {
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 32px;

    li {
      width: 96px;
      height: 48px;
    }

    a {
      height: 48px;
    }
  }

  #dropdown {
    position: relative;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;

    span {
      transition: transform 0.2s;
    }

    img {
      height: 4px;
      position: relative;
      bottom: 3px;
      margin-left: 4px;
      filter: invert(90%);
      transition: transform 0.1s;
    }
  }

  #dropdown-menu {
    font-family: Inter-Medium;
    display: none;
    border-radius: 8px 8px 8px 8px;
    position: absolute;
    top: 100%;
    list-style-type: none;
    background-color: hsl(0, 0%, 100%);
    color: black;
    overflow: hidden;
    box-shadow: 2px 2px 12px -4px black;

    li {
      justify-self: left;
      text-align: left;
      height: 100%;
      width: 100%;
      padding: 0px 16px;

      a {
        display: flex;
        justify-content: left;
      }
    }

    li:active {
      background-color: hsl(0, 0%, 80%);
    }
  }

  #dropdown:hover #dropdown-menu,
  #dropdown:focus-within #dropdown-menu {
    display: block;
  }

  #dropdown:hover img,
  #dropdown:focus-within img {
    transform: rotateZ(-180deg);
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  #active {
    font-family: Inter-SemiBold;
    font-size: 1.2em;
    img {
      height: 1.1em;
    }
  }

  #dropdown #active img {
    height: 5px !important;
  }
}

#kontaktaOss {
  font-size: 1.2rem;
  position: absolute;
  right: 64px;
  font-family: Inter-Medium;
  background: hsl(0, 0%, 90%);
  color: black;
  padding: 3px 12px 3px 12px;
  border-radius: 4px;
}

/*Main*/
main {
  width: 100%;
}

/*footer*/
footer {
  background-color: inherit;
  height: 192px;
  box-sizing: border-box;
  width: 100%;
  font-family: Inter-Regular;
  color: hsl(0, 0%, 50%);
  display: flex;
  align-items: center;
  padding: 0px 64px;
}

/*Phone nav bar*/
#phone_menu {
  height: calc(100dvh - 56px);
  display: flex;
  position: fixed;
  z-index: 2;
  padding-top: 16px;
  box-sizing: border-box;
  top: 56px;
  background-color: var(--secondary-background-colour);
  width: 0vw;
  transition: width 0.5s;
  overflow: hidden;
  font-size: 1.2rem;
  font-family: Inter-Medium;
  color: black;

  ul {
    margin-left: 0px;
    opacity: 0;
    transition: margin 0.5s, opacity 0.5s;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;

    li {
      display: flex;
      align-items: center;
      text-wrap: nowrap;
      height: 48px !important;
    }

    a {
      display: flex;
      gap: 8px;
      align-items: center;

      img {
        filter: invert(1);
      }
    }
  }

  #dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    button {
      text-align: left;
      font-size: inherit;
      font-family: inherit;
    }

    img {
      height: 4px;
      position: relative;
      bottom: 3px;
      margin-left: 4px;
      transition: rotate 0.2s;
    }

    #dropdownMenu {
      opacity: inherit;
      position: absolute;
      top: 112%;
      left: 16px;
      height: 0px;
      opacity: 0;
      overflow: hidden;
      transition: height 0.5s, opacity 0.5s;
      li {
        height: fit-content;
        padding: 5px 0px;
      }
    }
  }

  img {
    height: 24px;
  }

  #kontaktaOss1 {
    position: absolute;
    bottom: 16px;
    background-color: black;
    color: white;
    border-radius: 8px;
    width: calc(100% - 64px);
    justify-content: center;
  }
}

#filter {
  width: 100%;
  height: calc(100dvh - 56px);
  position: fixed;
  z-index: 1;
  top: 56px;
  pointer-events: none;
  background-color: hsla(0, 0%, 0%, 0.5);
  opacity: 0;
  transition: opacity 1000ms;
}

@media screen and (max-width: 1200px) {
  header nav {
    left: 32px;
  }

  #kontaktaOss {
    right: 32px;
  }
}

@media screen and (max-width: 1080px) {
  #menu {
    display: block !important;
  }

  header nav,
  #kontaktaOss {
    display: none;
  }
}
