* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-background-colour: #3a0ca3;
  --secondary-background-colour: hsl(0, 0%, 100%);
  --primary-font-colour: hsl(0, 0%, 100%);
  --secondary-font-colour: hsl(0, 0%, 0%);
}

@font-face {
  font-family: fontRegular;
  font-weight: 500;
  src: url(/fonts/Nunito.ttf), local(Arial);
}

@font-face {
  font-family: fontMedium;
  font-weight: 620;
  src: url(/fonts/Nunito.ttf), local(Arial);
}

@font-face {
  font-family: fontSemiBold;
  font-weight: 660;
  src: url(/fonts/Nunito.ttf), local(Arial);
}

@font-face {
  font-family: fontBold;
  font-weight: 680;
  src: url(/fonts/Nunito.ttf), local(Arial);
}

ul {
  list-style: none;
}

button {
  -webkit-tap-highlight-color: transparent;
  border: none;
  background: none;
}

button:hover {
  cursor: pointer;
}

a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  user-select: none !important;
  color: inherit;
  transition: transform 0.2s;
}

a:hover,
#dropdown:hover > span,
#dropdown:focus-within > span {
  transform: scale(1.1);
}

body {
  background-color: var(--primary-background-colour);
}

/*Header*/
header {
  height: 60px;
  max-width: 1280px;
  width: 100dvw;
  padding: 12px 0px;
  margin: 0 auto;
  box-sizing: border-box;
  background: var(--primary-background-colour);
  user-select: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
}

#hamburger {
  margin-left: 12px;
  display: none !important;
  height: 100%;
  width: 28px;
  align-content: center;
  position: relative;
  z-index: 10;

  #nav-toggle {
    height: 2.5px;
    width: 16px;
    border-radius: 4px;
    background-color: white;
    transition: width 0.3s;

    &::after,
    &::before {
      content: "";
      height: inherit;
      border-radius: inherit;
      background-color: inherit;
      position: absolute;
      left: 0px;
      transition: transform 0.35s, top 0.2s, bottom 0.2s, width 0.4s;
    }

    &::after {
      width: 28px;
      top: 16px;
    }

    &::before {
      width: 8px;
      bottom: 16px;
    }
  }
}

.menu-active {
  #nav-toggle {
    width: 0 !important;

    &::after,
    &::before {
      width: 24px !important;
    }

    &::after {
      top: 48% !important;
      transform: rotate(45deg);
      transform-origin: center;
    }

    &::before {
      bottom: 48% !important;
      transform: rotate(-45deg);
      transform-origin: center;
    }
  }
}

#title {
  justify-self: center;
  color: var(--primary-font-colour);
  display: flex;
  gap: 4px;
  align-items: center;
  font-family: fontBold;
  font-size: 2.4rem;

  img {
    height: 36px;
  }
}

header nav {
  color: var(--primary-font-colour);
  font-family: fontRegular;
  font-size: 1.2rem;

  a {
    display: flex;
    align-items: center;
    height: 48px;
    gap: 8px;
    padding: 0px 8px;
  }

  a:hover {
    transform: scale(1.05) !important;
  }

  img {
    height: 20px;
  }

  > ul {
    height: 100%;
    display: flex;
    gap: 32px;

    li {
      width: max-content;
      height: 48px;
    }

    > #active {
      font-family: fontSemiBold;
      font-size: 1.2em;
    }   
  }

  #dropdown {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      transition: transform 0.2s;
    }

    img {
      height: 4px;
      position: relative;
      bottom: 3px;
      margin-left: 4px;
      filter: invert(1);
      transition: transform 0.1s;
    }
  }

  #dropdown-menu {
    overflow: hidden;
    font-family: fontMedium;
    display: none;
    border-radius: 8px;
    box-shadow: 2px 2px 12px -4px black;
    position: absolute;
    top: 100%;
    background-color: hsl(0, 0%, 100%);
    color: var(--secondary-font-colour);

    li {
      padding: 4px 8px;

      a {
        justify-content: left;
      }
    }

    li:active {
      background-color: hsl(0, 0%, 80%);
    }
  }

  #dropdown:hover #dropdown-menu,
  #dropdown:focus-within #dropdown-menu {
    display: block;
  }

  #dropdown:hover img,
  #dropdown:focus-within img {
    transform: rotateZ(-180deg);
  }

  #dropdown #active {
    img {
      height: 5px !important;
    }
  }
}

.kontakt {
  justify-self: end;
  margin-right: 8px;
  width: max-content;
  height: 100%;
  display: flex;
  gap: 12px;
  align-items: center;

  img {
    display: flex;
    height: 32px;
  }
}

#kontaktaOss {
  font-size: 1.2rem;
  font-family: fontMedium;
  background: hsl(0, 0%, 90%);
  color: var(--secondary-font-colour);
  padding: 4px 12px;
  border-radius: 4px;
}

#kontaktaOss:hover {
  transform: scale(1.08) !important;
}

/*footer*/
footer {
  width: 100dvw;
  padding: 48px;
  box-sizing: border-box;
  background-color: var(--primary-background-colour);
  font-family: fontRegular;
  color: var(--primary-font-colour);

  div {
    max-width: 1280px;
    margin: 0 auto;
  }
}

/*Phone nav bar*/
#phone_menu,
#filter {
  height: calc(100dvh - 48px - 12px * 2);
  position: fixed;
  top: calc(48px + 12px * 2);
  z-index: 2;
}

#phone_menu {
  width: 0dvw;
  box-sizing: border-box;
  border-top: 2px solid #480ca8;
  padding-top: 12px;
  background-color: var(--primary-background-colour);
  overflow: hidden;
  font-size: 1.2rem;
  font-family: fontMedium;
  color: var(--primary-font-colour);
  transition: width 0.5s;

  img {
    height: 24px;
  }

  ul {
    opacity: 0;
    display: grid;
    gap: 12px;
    transition: margin 0.5s, opacity 0.5s;

    li {
      display: flex;
      text-wrap: nowrap;
      height: 48px !important;
    }

    a {
      display: flex;
      gap: 8px;
      align-items: center;
    }
  }

  #dropdown {
    position: relative;

    button {
      color: inherit;
      text-align: left;
      font-size: inherit;
      font-family: inherit;
    }

    img {
      height: 4px;
      position: relative;
      bottom: 3px;
      margin-left: 4px;
      transition: rotate 0.2s;
      filter: invert(1);
    }

    #dropdownMenu {
      position: absolute;
      top: calc(100% + 4px);
      left: 16px;
      opacity: 0;
      overflow: hidden;
      transition: height 0.5s, opacity 0.5s;
      li {
        height: fit-content !important;
        padding: 12px 0px;
      }
    }
  }

  #kontaktaOss1 {
    position: absolute;
    bottom: 16px;
    background-color: hsl(0, 0%, 100%);
    color: black;
    border-radius: 8px;
    width: calc(100% - 64px);
    justify-content: center;
    overflow: hidden;
  }
}

#filter {
  width: 100%;
  pointer-events: none;
  background-color: hsla(0, 0%, 0%, 0.5);
  opacity: 0;
  transition: opacity 1000ms;
}

@media (max-width: 1200px) {
  header nav {
    left: 32px;
  }

  #kontaktaOss {
    right: 32px;
  }
}

@media (max-width: 1080px) {
  #hamburger {
    display: block !important;
  }

  header nav,
  .kontakt {
    display: none;
  }
}
